{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création d'un illustrateur{% endblock %}

{% block body %}
    <h2>Ajouter un éditeur</h2>

    {{ form_start(publisherForm) }}
    {{ form_row(publisherForm.name) }}
    {{ form_row(publisherForm.nationality) }}
    <button type="submit" class="btn">Ajouter</button>
    {{ form_end(publisherForm) }}
{% endblock %}