<nav>
    <ul>
        {% if app.user %}
            <li class="style-nav-li"><a {% if app.request.get('_route') == 'main_home' %} class="active"{% endif %}
                        href="{{ path('main_home') }}">Accueil</a></li>
            <li class="style-nav-li"><a {% if app.request.get('_route') == 'book_admin_create' %} class="active"{% endif %}
                        href="{{ path('book_admin_create') }}">Ajouter un livre</a></li>
            <li class="style-nav-li"><a {% if app.request.get('_route') == 'author_admin_create' %} class="active"{% endif %}
                        href="{{ path('author_admin_create') }}">Ajouter un auteur</a></li>
            <li class="style-nav-li"><a {% if app.request.get('_route') == 'illustrator_admin_create' %} class="active"{% endif %}
                        href="{{ path('illustrator_admin_create') }}">Ajouter un illustrateur</a></li>
            <li class="style-nav-li"><a {% if app.request.get('_route') == 'publisher_admin_create' %} class="active"{% endif %}
                        href="{{ path('publisher_admin_create') }}">Ajouter un éditeur</a></li>
            <li class="style-nav-li"><a {% if app.request.get('_route') == 'test' %} class="active"{% endif %}
                        href="{{ path('test') }}">Page test</a></li>
            <li class="style-nav-li"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li class="style-nav-li"><a href="{{ path('app_login') }}">Connexion</a></li>
            <li class="style-nav-li"><a href="{{ path('app_register') }}">Inscription</a></li>
        {% endif %}
    </ul>
</nav>